<footer>
	<ul class="contacts">
		<h6>Contacts:</h6>
		<li>
			<a href="mailto:bms110403@gmail.com">bms110403@gmail.com</a>
		</li>
	</ul>
	</br>
	<ul class="socials">
		<h6>Socials:</h6>
		<li>
			<a href="http://www.github.io/bx-sa1">
				<i class="fab fa-github">bx-sa1</i>
			</a>
		</li>
	</ul>
</footer>
