<header>
	<a href="{{ site.baseUrl }}" class="site-title">{{ site.name }}</a>
	<nav class="site-nav">
		<a href="{{ site.baseUrl }}blog">Blog</a>
		<a href="{{ site.baseUrl }}projects">Projects</a>
		<a href="{{ site.baseUrl }}about">About</a>
	</nav>
</header>
