body {
    display: grid;
    grid-template: 
        "header header header" auto
        "main main main" auto
        ". footer ." auto
        / auto auto auto;
}

header {
    grid-area: header;
}

main {
    display: flex;
    flex-direction: column;
    grid-area: main;
}

#info {
    padding: 16px 25%;

}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 4px;
}

#project-item {
    color: #00000a;
    padding: 8px;
    text-decoration: none;
    display: block;
    background-color: #f4f4ff;
}

#project-item:hover {
    background-color: #fff;
}

#project-item-title {
    border-bottom-style: solid;
    border-bottom-color: #00000f;
    border-bottom-width: 1px;
}
footer {
    grid-area: footer;
    font-size: 0.65em;
}