:root {
  --bg: #000B15;
  --fg: #E5F3FF;
  --primary: #FFF2E5;
}
* {
  font-family: "Roboto", "system-ui";
}

html {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  flex-flow: column;
  min-height: 100%;
  padding: 8%;
}

a:link, a:visited, a:hover, a:active {
  color: var(--fg);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

header h1 {
  padding: 0;
  margin: 0;
}

header nav {
  width: 33%;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

main {
    display: flex;
    flex-direction: column;
}

#info {
    padding: 16px 25%;

}

.links-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 4px 4px;
  list-style: none;
}

.links-list li {
  padding: 4%;
  background-color: var(--fg);
  width: 33%;
  transition: background-color 1s, transform 0.2s;
}

.links-list li:hover {
    background-color: var(--primary);
}

.links-list li:active {
  transform: scale(1.05);
}

.links-list li a {
  color: var(--bg);
  text-decoration: none;
}

footer {
    font-size: 0.65em;
    margin: auto;
}
